@import './scss/all';


:root{
  font-size: 12px;
}

html, body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.hide{
  display: none !important;
}
.container {
  max-width: 1200px;
  width: 100%;
}